@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    :root {


        &,
        &.light-mode {
            --primary: 63, 162, 246;
            --bg-primary: 256, 256, 256;
            --bg-light: 244, 244, 246;
            --success: 0, 192, 115;
            --warning: 255, 153, 0;
            --error: 255, 71, 87;
            --bg-active: 243, 243, 252;
            --bg_modal: 0, 0, 0;
            --icon: 180, 180, 199;
            --border: 235, 235, 235;
            --text_primary: 25, 25, 25;
            --text_secondary: 152, 152, 152;
            --pending: 226, 159, 97;
            --accept: 85, 158, 159;
        }

        &.dark-mode {
            --primary: 63, 162, 246;
            --bg-primary: 31, 33, 33;
            --bg-light: 0, 0, 0;
            --success: 0, 192, 115;
            --warning: 255, 153, 0;
            --error: 255, 71, 87;
            --bg-active: 60, 60, 60;
            --bg_modal: 256, 256, 256;
            --icon: 180, 180, 199;
            --border: 50, 50, 50;
            --text_primary: 238, 238, 238;
            --text_secondary: 155, 155, 155;
            --pending: 226, 159, 97;
            --accept: 85, 158, 159;
        }
    }
}

.rti--container {
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    --rti-radius: "20px",
        --rti-s: "0.5rem",
        /* spacing */
        --rti-tag: "#000",
        --rti-tag-remove: "#e53e3e",
}

.rti--container input {
    border: 1px solid rgb(235, 235, 235);
}

@layer components {
    .rti--container {
        @apply
    }

    .form-btn {
        @apply text-sm font-semibold bg-primary text-white py-3 px-10 rounded-lg flex items-center justify-center transition-all ease-in-out min-w-44
    }

    .form-btn:hover {
        @apply translate-x-1 shadow-md
    }

    .form-btn:active {
        @apply bg-opacity-100 tracking-tight
    }

    .btn {
        @apply py-1 px-4 text-sm font-medium rounded-2xl transition-all
    }

    .btn:hover {
        @apply bg-opacity-70
    }

    .input-field {
        @apply text-sm font-medium w-full text-text_primary outline-0 border border-border rounded-lg py-3 px-4 placeholder:text-text_secondary dark:bg-bg_primary
    }

    .err {
        @apply text-xs text-error self-start capitalize
    }

    .label {
        @apply text-text_secondary text-sm font-medium capitalize
    }

    .img-shadow {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }

    .checkerboard {
        padding: 6rem;
        background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(-45deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(-45deg, transparent 75%, #ddd 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        z-index: 20;
    }

    .bounce {
        animation-name: bounce;
        animation-duration: .5s;
        animation-delay: 0.25s;
    }

    /* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
    @keyframes bounce {
        0% {
            transform: translateX(0px);
            timing-function: ease-in;
        }

        37% {
            transform: translateX(5px);
            timing-function: ease-out;
        }

        55% {
            transform: translateX(-5px);
            timing-function: ease-in;
        }

        73% {
            transform: translateX(4px);
            timing-function: ease-out;
        }

        82% {
            transform: translateX(-4px);
            timing-function: ease-in;
        }

        91% {
            transform: translateX(2px);
            timing-function: ease-out;
        }

        96% {
            transform: translateX(-2px);
            timing-function: ease-in;
        }

        100% {
            transform: translateX(0px);
            timing-function: ease-in;
        }
    }

}